@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ededed;
}

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
  }
}

/* Lenis styles */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
